:root {
  --main-text-color: #212121;
  --web-text-color: #000000;
  --secondary-web-text-color: #2196F3;
  --third-web-text-color: #FFFFFF;
  --contacts: #757575;
  --background-dark: #2F303A;
  --background-rgba: rgba(255, 255, 255, 0.6);
  --background-section-fourth: #F5F4FA;
  --button-rgba: rgba(0, 0, 0, 0.15);
  --button-rgba-second: rgba(0, 0, 0, 0.1);
  --button-rgba-third: rgba(0, 0, 0, 0.08);
  --button-rgba-fourth: rgba(0, 0, 0, 0.12);
  --button-active: #188CE8;
  --header-border: #ECECEC;
  --border: #EEEEEE;
  --media-color: #AFB1B8;
  --footer-media-color: rgba(255, 255, 255, 0.1);
  --overlay-color: rgba(33, 150, 243, 0.9);
  --overlay-color-secondary: rgba(47, 48, 58, 0.8);
  --modal-color: rgba(0, 0, 0, 0.2);
  --form-footer-color: rgba(255, 255, 255, 0.3);
  --form-button-color: rgba(0, 0, 0, 0.15);
  --textarea-color: rgba(117, 117, 117, 0.5);
  --main-font: "Roboto";
  --secondary-font: "Raleway";
}

.item {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.list,
.zero {
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--main-font), sans-serif;
  background-color: var(--third-web-text-color);
  color: var(--main-text-color);
}

.flex {
  display: flex;
}

.caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.main-btn {
  display: inline-block;
  font-family: inherit;
  border-radius: 4px;
  cursor: pointer;
  min-width: 73px;
  text-align: center;
  border: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--modal-color);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  background: var(--third-web-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  text-align: center;
}

.modal-btn {
  position: absolute;
  border-radius: 50%;
  border: 1px solid var(--button-rgba-second);
  background-color: var(--third-web-text-color);
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  color: var(--secondary-web-text-color);
}

.modal-close {
  fill: currentColor;
}

.modal-form {
  width: 448px;
  text-align: left;
}

.modal-header {
  display: inline-block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.name-field {
  margin-bottom: 10px;
  position: relative;
}
.name-field label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--contacts);
}

.phone-field {
  margin-bottom: 10px;
  position: relative;
}
.phone-field label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--contacts);
}

.mail-field {
  margin-bottom: 10px;
  position: relative;
}
.mail-field label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--contacts);
}

.modal-icon-name,
.modal-icon-phone,
.modal-icon-mail {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translate(-50%);
  fill: currentColor;
}

.name-field input {
  min-width: 448px;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-size: 16px;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.name-field input:hover + .modal-icon-name, .name-field input:focus + .modal-icon-name {
  color: var(--secondary-web-text-color);
}
.name-field input:hover, .name-field input:focus {
  border: 1px solid var(--secondary-web-text-color);
}

.phone-field input {
  min-width: 448px;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-size: 16px;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.phone-field input:hover + .modal-icon-phone, .phone-field input:focus + .modal-icon-phone {
  color: var(--secondary-web-text-color);
}
.phone-field input:hover, .phone-field input:focus {
  border: 1px solid var(--secondary-web-text-color);
}

.mail-field input {
  min-width: 448px;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-size: 16px;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-field input:hover + .modal-icon-mail, .mail-field input:focus + .modal-icon-mail {
  color: var(--secondary-web-text-color);
}
.mail-field input:hover, .mail-field input:focus {
  border: 1px solid var(--secondary-web-text-color);
}

.text-field {
  margin-bottom: 20px;
}
.text-field textarea:hover, .text-field textarea:focus {
  border: 1px solid var(--secondary-web-text-color);
}
.text-field label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--contacts);
}

.button-modal-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 52px;
  min-width: 200px;
  min-height: 50px;
  font-family: inherit;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--third-web-text-color);
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  border: none;
  background: var(--secondary-web-text-color);
  box-shadow: 0px 4px 4px var(--form-button-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal-form:hover, .button-modal-form:focus {
  background-color: #188CE8;
}

textarea {
  resize: none;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  color: var(--textarea-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-field {
  text-align: center;
}
.agreement-field label {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts);
}

.agreement-link {
  text-decoration: underline;
  border-bottom: 1px solid #2196F3;
  color: #2196F3;
  text-decoration: none;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  display: inline-block;
  width: 18px;
  height: 17px;
  border: 2px solid #212121;
  border-radius: 3px;
  position: relative;
  background-size: contain;
  vertical-align: middle;
  margin-right: 7px;
}
.checkbox:checked + .icon {
  background-color: var(--secondary-web-text-color);
  background-size: contain;
  border: 2px solid var(--secondary-web-text-color);
}

.modal-icon-chek {
  fill: currentColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.no-padding {
  padding-bottom: 0;
}

.header {
  background-color: var(--third-web-text-color);
  border-bottom: 1px solid var(--header-border);
}

.header__container, .header__navigation {
  display: flex;
  align-items: center;
}

.header__link {
  font-family: var(--secondary-font), sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--web-text-color);
}

.header__logo {
  color: var(--secondary-web-text-color);
}

.site-nav {
  display: flex;
  margin-left: 93px;
  gap: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav .site-nav__link--top {
  color: var(--main-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link.site-nav__link--current {
  color: var(--secondary-web-text-color);
}
.site-nav .link.site-nav__link--current-portfolio {
  color: var(--secondary-web-text-color);
}
.site-nav .site-nav__link--top:hover, .site-nav .site-nav__link--top:focus {
  color: var(--secondary-web-text-color);
}

.site-nav__link--current::before {
  display: inline-block;
  position: absolute;
  content: "";
  background-color: var(--secondary-web-text-color);
  width: 48px;
  height: 4px;
  bottom: 0;
  left: 0;
  border-radius: 2px;
}

.site-nav__link--current-portfolio::before {
  display: inline-block;
  position: absolute;
  content: "";
  background-color: var(--secondary-web-text-color);
  width: 78px;
  height: 4px;
  bottom: 0;
  left: 0;
  border-radius: 2px;
}

.site-nav__item {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacts);
  vertical-align: middle;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--secondary-web-text-color);
}

.auth-nav__icon {
  vertical-align: middle;
  fill: currentColor;
}

.hero {
  background-color: var(--background-dark);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero--decorated {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: 1600px 600px;
  background-position: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-web-text-color);
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero__btn {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--third-web-text-color);
  background: var(--secondary-web-text-color);
  box-shadow: 0px 4px 4px var(--button-rgba);
  padding: 10px 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--button-active);
}

.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--background-section-fourth);
}

.title-section {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.text-section {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts);
}

.list.text {
  gap: 30px;
}

.gap-text {
  width: calc((100% - 90px) / 4);
}

.soc-list {
  display: flex;
  gap: 30px;
}

.soc-list__item {
  width: calc((100% - 60px) / 3);
}

.soc-list__box {
  position: relative;
}
.soc-list__box::before {
  display: inline-block;
  position: absolute;
  content: "";
  background-color: var(--overlay-color-secondary);
  width: 370px;
  height: 70px;
  bottom: 0;
}

.soc-list__text {
  position: absolute;
  top: 251px;
  left: 50%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-web-text-color);
  transform: translateX(-50%);
}

.list.team {
  gap: 30px;
}

.gap-team {
  width: calc((100% - 90px) / 4);
}

.section-fourth {
  background-color: var(--background-section-fourth);
}

.card {
  background-color: var(--third-web-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}

.subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.text-card {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--contacts);
}

.team-media {
  margin-top: 16px;
  display: flex;
  justify-content: space-around;
}

.item-media {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link-media {
  display: inline-flex;
  color: var(--media-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: none;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-media:hover, .link-media:focus {
  background-color: var(--secondary-web-text-color);
  color: var(--third-web-text-color);
}

.team-icon {
  fill: currentColor;
}

.icon-list {
  display: flex;
  justify-content: space-between;
}

.icon-list__link {
  display: inline-flex;
  color: var(--media-color);
  width: 170px;
  height: 92px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--media-color);
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-list__link:hover, .icon-list__link:focus {
  color: var(--secondary-web-text-color);
  border: 1px solid var(--secondary-web-text-color);
}

.icon-list__icon--fill {
  fill: currentColor;
}

.portfolio-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: var(--background-section-fourth);
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover, .portfolio-btn:focus {
  color: var(--third-web-text-color);
  background-color: var(--secondary-web-text-color);
  box-shadow: 0px 3px 1px var(--button-rgba-second), 0px 1px 2px var(--button-rgba-third), 0px 2px 2px var(--background-section-fourth);
}

.subtitle-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.text-portfolio {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--contacts);
}

.portfolio-nav {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.portfolio-nav .portfolio-btn {
  display: block;
}

.gap-portfolio-btn {
  width: calc((100% - 32px) / 5);
}

.flex-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.flex-element {
  width: calc((100% - 60px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.flex-element:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.border {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.pixel {
  display: block;
}

.thumb {
  position: relative;
  overflow: hidden;
}
.thumb::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.animation:hover .thumb::before {
  opacity: 1;
  transform: translateY(0);
}

.about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 150%);
  width: 322px;
  height: 168px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--third-web-text-color);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.animation:hover .about {
  transform: translate(-50%, -50%);
}

.bottom {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-dark);
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.bottom-contacts {
  margin-right: 70px;
}

.web-color {
  color: var(--secondary-web-text-color);
}

.contacts-info {
  font-style: normal;
  margin-top: 20px;
}
.contacts-info .item + .item {
  margin-top: 9px;
}

.web-studio-footer {
  font-family: var(--secondary-font), sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--third-web-text-color);
}

.location {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-web-text-color);
}
.location:hover, .location:focus {
  color: var(--secondary-web-text-color);
}

.contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-rgba);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover, .contacts:focus {
  color: var(--secondary-web-text-color);
}

.join {
  color: var(--third-web-text-color);
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-media {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.footer-link-media {
  display: inline-flex;
  color: var(--third-web-text-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--footer-media-color);
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-media:hover, .footer-link-media:focus {
  background-color: var(--secondary-web-text-color);
  color: var(--third-web-text-color);
}

.footer-item-media {
  width: calc((100% - 30px) / 4);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-form {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.footer-form input {
  min-width: 358px;
  min-height: 50px;
  border: 1px solid var(--form-footer-color);
  background-color: var(--background-dark);
  border-radius: 4px;
  padding: 15px 16px 15px 65px;
  color: var(--background-rgba);
}

.button-footer-form {
  display: inline-block;
  padding: 10px 28px;
  min-width: 200px;
  min-height: 50px;
  font-family: inherit;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--third-web-text-color);
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  border: none;
  vertical-align: middle;
  background: var(--secondary-web-text-color);
  box-shadow: 0px 4px 4px var(--form-button-color);
}

.send-svg {
  margin-left: 10px;
  fill: currentColor;
  vertical-align: middle;
}

.footer-label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  color: var(--background-rgba);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */