body {
    font-family: var(--main-font), sans-serif;
    background-color: var(--third-web-text-color);
    color: var(--main-text-color);
    cursor: url('../images/cursor-ice2.png'), auto;
}

.flex {
    display: flex;
}

.caption {
    font-weight: 700;
    font-size: 22px;
    @media screen and (min-width: 480px) {
            font-size: 28px;
        }
    @media screen and (min-width: 1200px) {
            font-size: 36px;
        }
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
        @media screen and (min-width: 1200px) {
            margin-bottom: 50px;
        }
}

.no-scroll {
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}