body {
    font-family: var(--main-font), sans-serif;
    background-color: var(--third-web-text-color);
    color: var(--main-text-color);
}

.flex {
    display: flex;
}

.caption {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}